<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <p>Password Reset Instructions from the Grower's Notebook</p>
  <p>To reset your password click the button below.</p>

  <table align="center" border="0" cellpadding="0" cellspacing="0" style="background-color:#78b310; border:1px solid #6A9E0D; border-radius:5px;">
    <tr>
      <td align="center" valign="middle" style="color:#FFFFFF; font-family:Helvetica, Arial, sans-serif; font-size:16px; font-weight:bold; letter-spacing:-.5px; line-height:150%; padding-top:15px; padding-right:30px; padding-bottom:15px; padding-left:30px;">
        <a href="<%= @password_reset_url %>" target="_blank" style="color:#FFFFFF; text-decoration:none;">Reset Password</a>
      </td>
    </tr>
  </table>
  <p>
    If you did not request your password to be reset please ignore this email and your password will stay as it is.
  </p>

  <p>
    We love to hear from our user community, so please feel free to
    <a href="mailto:<%= @feedback_mailto %>">drop us a line</a> any time!
  </p>
  <p>
    Cheers,
    <i>brian</i>
  </body>
  </html>
