<div class="screen-content">
  <div class="row metabar">
    <div class="col-xs-1 col-sm-1 col-md-1 save-status">
      <span ng-show="saveInProgress">Saving...</span>
      <span ng-show="!saveInProgress">Saved</span>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 btn-set pull-right">
      <span class="alert alert-danger animated slideInRight" ng-show="showDelete">
        Really? &nbsp &nbsp <a href="" ng-click="showDelete=false">Nope</a> | <a href="" ng-click="delete_me()">Yes, I'm sure</a>
      </span>
      <button type="button" class="btn btn-default btn-delete" ng-click="showDelete=true">Delete</button>
      <button ng-show="!vineyard.published" type="button" class="btn btn-success" ng-click="publish()">Publish</button>
      <button ng-show="vineyard.published" type="button" class="btn" >Published</button>
    </div>
  </div>
  <div class="image-header-bleed with-metabar">
    <div class="image-src" ng-style="{'background-image':'url(' + vineyard.image_url  + ')'}"></div>
  </div>

  <header class="hero hero-home layout-single-column">
    <div class="align-middle layout-single-column layout-foreground layout-fill-height">
      <div class="align-block">
        <label class="sr-only" for="vineyardName">Vinyard Name</label>
        <div class="hero-title">
          <!-- <input type="text" maxlength="64" placeholder="Vineyard Name" ng-model="vineyard.name" required> -->
          <span contenteditable ng-model="vineyard.name" placeholder="Vineyard Name" required />
        </div>
        <p ng-show="vineyard.location" class="hero-description hero-description-tagline animated fadeIn">
          <span contenteditable ng-model="vineyard.location" strip-br="true"></span>
        </p>
      </div>
    </div>
  </header>
</div>
<div class="container margin-top-40">
  <form role="form-inline" name="vineyardEditForm">
    <div class="form-group">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <label class="sr-only" for="Location">Location</label>
          <textarea class="col-xs-12 col-sm-12 col-md-12 sans no-distraction" name="Location" geocode placeholder="Street, City, State", rows="3" ng-model="vineyard.location" latlong="latlong" maxlength="256" name="location" autocomplete="off"></textarea>
          <label class="sr-only" for="Description">Description</label>
          <textarea class="col-xs-12 col-sm-12 col-md-12 sans no-distraction" rows="6" name="Description" ng-model="vineyard.description" placeholder="Description">
          </textarea>
          <div class="col-xs-12 col-sm-12 col-md-12 btn-set">
            <legend>Farming Methods</legend>
            <button ng-class="{false:'btn btn-success', true:'btn btn-default'}[!vineyard.methods.sustainable]" ng-click="vineyard.methods.sustainable=!vineyard.methods.sustainable">Sustainable</button>
            <button ng-class="{false:'btn btn-success', true:'btn btn-default'}[!vineyard.methods.organic]" ng-click="vineyard.methods.organic=!vineyard.methods.organic">Organic</button>
            <button ng-class="{false:'btn btn-success', true:'btn btn-default'}[!vineyard.methods.biodynamic]" ng-click="vineyard.methods.biodynamic=!vineyard.methods.biodynamic">Biodynamic</button>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div leaflet defaults="defaults" center="center" layers="layers" markers="markers" class="map-medium"></div>
          {{m1.lat}},{{m1.lng}}
        </div>
      </div>
    </div>
    <!--
    <!-- Vineyard Specs
  -->
  <div class="row margin-top-40">
    <legend>Vineyard Specs</legend>
    <div class="col-xs-12 col-sm-6 col-md-4 no-distraction" ng-repeat="block in vineyard.blocks">
      <h4 ng-mouseenter="show_delete=true" ng-mouseleave="show_delete=false">
        Block {{$index + 1}} - <input ng-model="block.name" placeholder="Name"></input>
        <span ng-show="show_delete && vineyard.blocks.length > 1" ng-click="delete_block($index)"><i class="fa fa-minus-circle delete-icon"></i></span>
      </h4>
      <table class="span8 table table-condensed">
        <tr><td class="muted input-label" >Acreage</td>
          <td class="input">
            <input name="Acreage" type="text" ng-model="block.acreage" class="span6 text_field" placeholder="12">
          </td>
        </tr>
        <tr><td class="muted input-label" >Varietal</td>
          <td class="input">
            <input name="Varietal" type="text" ng-model="block.varietal" class="span6 text_field" placeholder="Pinot Noir">
          </td>
        </tr>
        <tr><td class="muted input-label" >Clones</td>
          <td class="input">
            <input name="Clones" type="text" ng-model="block.clones" class="span6 text_field" placeholder="Martini">
          </td>
        </tr>
        <tr><td class="muted input-label" >Rootstock</td>
          <td class="input">
            <input name="Rootstock" type="text" ng-model="block.rootstock" class="span6 text_field" placeholder="Riparia gloire">
          </td>
        </tr>
        <tr><td class="muted input-label" >Year Planted</td>
          <td class="input">
            <input name="Year" type="number" ng-model="block.year" class="span6 text_field" placeholder="1986">
          </td>
        </tr>
        <tr><td class="muted input-label" >Vine Spacing</td>
          <td class="input">
            <input name="Spacing" type="text" ng-model="block.spacing" class="span6 text_field" placeholder="4' x 8'">
          </td>
        </tr>
        <tr><td class="muted input-label" >Trellis Style</td>
          <td class="input">
            <input name="Trellis" type="text" ng-model="block.trellis" class="span6 text_field" placeholder="7' VSP">
          </td>
        </tr>
      </table>
    </div>
    <div class="cols-xs-12 col-sm-1 col-md-1">
      <span ng-click="add_block()"><i class="fa fa-plus-circle clickable-icon"></i></span>
    </div>
  </div>
</form>
</div>