<div class="screen-content">
  <div class="row metabar">
    <div class="col-xs-6 col-sm-6 col-md-6 btn-set pull-right">
      <button type="button" class="btn btn-info" ng-click="edit()">Edit</button>
    </div>
  </div>
  <div class="image-header-bleed" ng-show="vineyard.image_url">
    <div class="image-src" ng-style="{'background-image':'url(' + vineyard.image_url  + ')'}"></div>
  </div>

  <header class="hero hero-home layout-single-column" >
    <div class="align-middle layout-single-column layout-foreground layout-fill-height">
      <div class="align-block">
        <div class="hero-title">
          {{vineyard.name}}
        </div>
        <p ng-show="vineyard.appellation" class="hero-description hero-description-tagline">
          {{vineyard.appellation}}
        </p>
      </div>
    </div>
  </header>
  <nav class="nav-tabs layout-single-column" ng-class="{true: 'nav-tabs-light'}[!!vineyard.image_url]">
    <ul class="nav-tabs-list">
      <li class="nav-tabs-item">
        <a class="nav-tabs-anchor" href="/">Welcome</a>
      </li>
      <li class="nav-tabs-item">
        <a class="nav-tabs-anchor" href="/#/vineyards">Vineyards</a>
      </li>
      <li class="nav-tabs-item">
        <a class="nav-tabs-anchor" href="/#/lab/samples">Lab</a>
      </li>
    </ul>
  </nav>
  <div class="container margin-top-40">
    <div class="row">
      <div class="col-md-6">
        <div class="sans"><a class="wp-link" ng-click="wp_info(vineyard.appellation)">{{vineyard.appellation}}</a></div>
        <div class="sans ">{{vineyard.location}}</div>
        <div>
          <p class="description">{{vineyard.description}}</p>
        </div>
        <div class="btn-set">
          <legend>Farming Methods</legend>
          <button class="btn btn-success" ng-show="vineyard.methods.sustainable">Sustainable</button>
          <button class="btn btn-success" ng-show="vineyard.methods.organic">Organic</button>
          <button class="btn btn-success" ng-show="vineyard.methods.biodynamic">Biodynamic</button>
        </div>
      </div>
      <div class="col-md-6 map-box">
        <div leaflet defaults="defaults" center="center" layers="layers" markers="markers" class="map-medium"></div>
        <span>{{m1.lat}},{{m1.lng}}</span> <span ng-show="vineyard.elevation" class="pull-right">el: {{vineyard.elevation | inFeet}}</span>
      </div>
    </div>
  </div>
  <div class="container margin-top-40">
    <legend>Vineyard Specs</legend>
    <div class="col-sm-6 col-md-4 no-distraction table-set" ng-repeat="block in vineyard.blocks">
      <h4>{{block.name}}</h4>
      <table class="span8 table table-striped borderless">
        <tr><td class="muted item-label" >Acreage</td>
          <td class="item">
            {{block.acreage}}
          </td>
        </tr>
        <tr>
          <td class="muted item-label" >
            <div class="pull-left">Varietal</div> <div class="pull-right" ng-class="{red: 'centered dot red-grape', white: 'centered dot white-grape'}[block.grape_color]"></div>
          </td>
          <td class="item">
            <a class="wp-link" ng-click="wp_info(block.varietal)">{{block.varietal}}</a>
          </td>
        </tr>
        <tr><td class="muted item-label" >Clones</td>
          <td class="item">
            {{block.clones}}
          </td>
        </tr>
        <tr><td class="muted item-label" >Rootstock</td>
          <td class="item">
            {{block.rootstock}}
          </td>
        </tr>
        <tr><td class="muted item-label" >Year Planted</td>
          <td class="item">
            {{block.year}}
          </td>
        </tr>
        <tr><td class="muted item-label" >Vine Spacing</td>
          <td class="item">
            {{block.spacing}}
          </td>
        </tr>
        <tr><td class="muted item-label" >Trellis Style</td>
          <td class="item">
            {{block.trellis}}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>