<div class="screen-content">
  <div class="row metabar">
    <div class="col-xs-1 col-sm-1 col-md-1 save-status">
      <span ng-show="saveInProgress">Saving...</span>
      <span ng-show="!saveInProgress">Saved</span>
    </div>
  </div>
  <header class="hero hero-standalone layout-single-column ">
    <h1 class="hero-title">Lab</h1>
    <p class="hero-description">Track sample data from the vineyard</p>
    <div class="hero-actions btn-set">
      <div class="search-box">
        <input type="text" class="form-control" ng-model="query" placeholder="Search" >
      </div>
    </div>
  </header>

</div>
<div class="container">
  <div class="col-sm-6 col-md-6 col-lg-3">
    <form role="form-inline" name="sampleEditForm">
      <div class="form-group">
        <table class="table table-condensed">
          <tr><td class="muted input-label" >Vineyard</td>
            <td class="input">
              <input name="Vineyard" type="text" ng-model="sample.vineyard_name" class="text_field" placeholder="amaya ridge" required>
            </td>
          </tr>
          <tr><td class="muted input-label" >Block</td>
            <td class="input">
              <input name="Block" type="text" ng-model="sample.block" class="text_field" placeholder="1" required>
            </td>
          </tr>
          <tr><td class="muted input-label" >Sample Date</td>
            <td class="input col-sm-1 col-md-1 col-lg-1">
              <input type="text" class="form-control" datepicker-popup='dd-MMMM-yyyy' ng-model="sample.date" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
            </td>
          </tr>
          <tr><td class="muted input-label" >Brix</td>
            <td class="input">
              <input name="Brix" type="number" ng-model="sample.brix" class="text_field" placeholder="23.2" required>
            </td>
          </tr>
          <tr><td class="muted input-label" >TA</td>
            <td class="input">
              <input name="TA" type="number" ng-model="sample.ta" class="ext_field" placeholder="0.58">
            </td>
          </tr>
          <tr><td class="muted input-label" >pH</td>
            <td class="input">
              <input name="pH" type="number" ng-model="sample.ph" class="text_field" placeholder="3.4">
            </td>
          </tr>
        </table>
        <div>
          <label class="sr-only" for="Notes">Notes</label>
          <textarea class="sans no-distraction" rows="3" name="Notes" ng-model="sample.notes" placeholder="Notes">
          </textarea>
        </div>
      </div>
    </form>
  </div>
</div>