<header>
	<div class="container">
		<h3 class="lead">Rats! Something about your registration is giving us problems</h3>
	</div>
</header>
<div class="container">
	<br />
	<br />
	<span>
		<img class="img-polaroid" src="/assets/dog_ate_my_page.jpg">
	</span>
	<br />
	<blockquote  class="center">
		<p><i class="icon-quote-right"></i> <u><%= @messages %></u></p>
		<small>That FarmDat Application</small>
	</blockquote>
</div>