
.save-status {
  margin-top: 10px;
  padding: 5px;
  color: #999999;
  background-color:#fff;
}

.search-box {
  width: 640px;
  input {
    font-size: 1.2em;
    border-radius: 20px;
  }
}

.btn-set {
  display:inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  .btn, .alert {
    margin-right:7px;
  }
}

.btn {
  @include transition( background 0.2s ease );
}

.btn-delete {
  color: #ccc !important;
}
.btn-delete:active, .btn-delete:hover, .btn-delete:focus {
  background: #cc5454 !important;
  color: #fff !important;
  border-color: rgb(230, 41, 41) !important;
}

.btn-set.pull-right { text-align: right; }

.clickable-icon {
  cursor:pointer;
  font-size: 2em;
  color:#999;
  @include transition( all 0.2s ease );
}

.clickable-icon:hover {
  font-size: 2.2em;
  color:#ccc;
}

.delete-icon {
  cursor:pointer;
  color:#cc5454;
  @include transition( all 0.2s ease );
}

.delete-icon:hover {
  color:#e62929;
}