/* fonts
Sans:
Lato
Raleway
Open Sans

Serifs:
Sorts Mill Goudy

Handwritten:
Gloria Hallelujah
*/

.nav, .pagination, .carousel a { cursor: pointer; }

body {
  padding:0;
  color:#333;
  font-size:16px;
  line-height:1.6;
  background:#fff;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

p, li {
  color:#555;
  line-height:1.6;
}
/* Don't change color of links */
a { line-height: 1.6;}

a,
a:focus,
a:hover,
a:active {
  outline:0 !important;
  color: #3498db;
}
a:hover {
  text-decoration:underline;
}

h1, h2, h3, h4, h5 {
  color:#555;
  margin-top:5px;
  text-shadow:none;
  text-shadow:0 0 1px #f6f6f6;
  font-weight:normal !important;
}

input, textarea {
  font-size: 16px;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

h1, h2, h3 {
  font-family:"Sorts Mill Goudy", serif;
  input {
    font-family:"Sorts Mill Goudy", serif;
    line-height: 1.6em;
    margin-bottom: 15px;
    font-size: 1.2em;
  }
}

.sans {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

h1 i, h2 i, h3 i, h4 i, h5 i {
  margin-right:7px;
}

textarea.no-distraction, input.no-distraction {
  border: 1px solid rgba(221, 221, 221, 0.43);
}
