html, body {
  height: 100%;
}

$label: #006AB5;

.screen-content {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  outline: 0;
  background-color: #fff;
}
.background-white {
  background: #fff;
}
.background-dark {
  background:#373746;
}
.background-light-green {
  background:#e9e8da;
}

.image-header-bleed {
  position: absolute;
  background: #191918;
  top: 0;
  left: 0;
  right: 0;
  height: 450px;
  pointer-events: none;
  .image-src {
    @include transition( opacity 0.7s ease );
    opacity: 0.8
  }
}

.image-header-bleed.with-metabar {
  height: 380px;
}

.image-src.dimmed {
  opacity: 0.5;
}

.bucket {
  padding-top: 30px;
}

.image-src {
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.hero {
  text-align: center;
  height: 500px;
}

.hero-home {
  height: 380px;
}

.hero-standalone {
  padding: 100px 0 40px;
  height: auto;
}

.hero-title {
  font-family: 'Sorts Mill Goudy', serif;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  line-height: 2em;
  color: #333332;
  margin-bottom: 8px;
  outline: 0;
  word-break: break-word;
  input {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: #fff;
    font-family: 'Sorts Mill Goudy', serif;
    font-weight: 700;
    font-style: normal;
    line-height: 2em;
    font-size: 1em;
    text-align:center;
  }
  input:focus {
    outline-color: white;
  }
}
.hero-home .hero-description {
  font-family: 'Raleway', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  margin: 0 0 10px 0;
  padding: 0;
}
.hero-home .hero-title, .hero-home .hero-description {
  color: #fff;
  background-color: rgba(127, 107, 54, 0.55);
  padding: 5px 12px 5px 12px;
}
.hero-description {
  color: #666665;
  font-size: 18px;
  outline: 0;
  word-break: break-word;
  letter-spacing: -0.02em;
}

.layout-single-column {
  width: 640px;
  margin: 0 auto;
}

.layout-fill-height {
  height: 100%;
}

.layout-foreground {
  position: relative;
  z-index: 100;
}
.layout-single-column {
  width: 640px;
  margin: 0 auto;
}

.align-middle:before, .align-bottom:before {
  content: '';
  height: 100%;
  margin-right: -0.25em;
}

.align-middle:before, .align-middle .align-block, .align-bottom:before, .align-bottom .align-block {
  display: inline-block;
  vertical-align: middle;
}

.align-bottom .align-block {
  display: inline-block;
  vertical-align: middle;
}

.nav-tabs {
  position:relative;
  padding-bottom: 0;
  border-top: 1px #dededc solid;
  padding-bottom: 0;
  border-bottom: none!important;
}
.nav-tabs-item {
  display: inline-block;
  margin-right: 20px;
}
.nav-tabs-list {
  list-style: none;
  margin-top: -1px;
  padding-left: 0px;
}
.nav-tabs-anchor {
  font-family: "Raleway", serif;
  font-weight: 700;
  font-style: normal;
  display: block;
  font-size: 1em;
  text-transform: uppercase;
  color: #b3b3b1;
  padding: 20px 0;
}
.nav-tabs-light {
  border-top-color: rgba(255,255,255,0.35);
  border-bottom: none;
}
.nav-tabs-item.active .nav-tabs-anchor {
  color: #333332;
  border-top: 1px #666665 solid;
}
.nav-tabs-light .nav-tabs-anchor {
  color: rgba(255,255,255,0.65);
}
.nav-tabs-light .nav-tabs-anchor:hover, .nav-tabs-light .active .nav-tabs-anchor {
  color: #fff;
  border-top-color: #fff;
}

.metabar {
  display: block;
  z-index: 500;
  position: absolute;
  top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 65px;
  padding-left: 15px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.map-medium {
  height: 380px;
  margin-bottom: 10px;
}

.margin-top-40 { margin-top: 40px;}

ul.scrolling-list {
 list-style: none;
}

@media all and (max-width: 640px) {
  .table-condensed {
    td, td[class*="span"] {
      display: block;
      width: 95%;
    }
    .input-label { color: $label; }
    .input { border-top:none; }
    .input-help { float: left; padding-right: 6px; }
  }
  .table-striped {
    td, td[class*="span"] {
      display: block;
      width: 95%;
    }
    .item-label { color: $label; }
    .item { border-top:none; }
    .item-help { float: left; padding-right: 6px; }
  }
}
