<div class="screen-content dirty-grey full-height">
  <div class="image-header-bleed">
    <div class="dimmed image-src" style="background-image: url('/assets/welcome.jpg')"></div>
  </div>

  <header class="hero hero-light hero-home layout-single-column">
    <div class="align-middle layout-single-column layout-foreground layout-fill-height">
      <div class="align-block">
        <h1 class="hero-title">Growers Notebook</h1>
        <p class="hero-description hero-description-tagline">Vineyard Logbooks for the Winegrowing Community</p>
      </div>
    </div>
  </header>
  <nav class="nav-tabs nav-tabs-light layout-single-column">
    <ul class="nav-tabs-list">
      <li class="nav-tabs-item active">
        <a class="nav-tabs-anchor" href="#/welcome">Welcome</a>
      </li>
      <li class="nav-tabs-item ">
        <a class="nav-tabs-anchor" href="#/vineyards">Vineyards</a>
      </li>
      <li class="nav-tabs-item">
        <a class="nav-tabs-anchor" href="/#/lab/samples">Lab</a>
      </li>
    </ul>
  </nav>
  <div class="background-white">
    <div class="bucket layout-single-column">
      <h2>Welcome to the Growers Notebook</h2>
      <p>
        The Grower's Notebook is used by a community of growers, wine makers and wine enthusiasts to log and follow vineyard progress throughout the growing season.
      </p>
      <p>
        Growers, get started by <a ng-href="#/vineyards/edit">adding your vineyard profile.</a>
      </p>
    </div>
  </div>
</div>