<body>
  <div class="screen-content">
    <div class="image-header-bleed">
      <div class="image-src" style="background-image: url(<%= asset_path 'welcome.jpg'%>)"></div>
    </div>

    <header class="hero hero-home layout-single-column">
      <div class="align-middle layout-single-column layout-foreground layout-fill-height">
        <div class="align-block">
          <h1 class="hero-title">Growers Notebook</h1>
          <p class="hero-description hero-description-tagline">Vineyard Logbooks for the Winegrowing Community</p>
        </div>
      </div>
    </header>

    <% if current_user %>
    welcome <%= current_user.name %>
    <% else %>
    <%= link_to "sign in", "/accounts/signin_page" %>
    <% end %>
  </div>